// Templates for Angular.js rendering
%div.row{"ng-controller" => "TestListCtrl"}
  %h1
    {{title}}
  %div
    {{description}}
  %ul.tests.container-fluid.list-group{"ng-show" => "tests.length"}
    %li.row.list-group-item{id: "{{test.id}}", 'ng-repeat' => 'test in tests'}
      %div.col-md-1
        %button.btn.btn-primary.test
          Test
      %div.col-md-8
        %span.test-num
          Test {{test.id}}:
        %span.description
          {{test.comment}}
      %div.col-md-3.pull-right
        %button.btn.btn-info.details{"data-loading-text" => "Loading details ...", "data-complete-text" => "details", autocomplete: "off"}="details"
        %button.btn.btn-info.source{"data-loading-text" => "Loading tests ...", "data-complete-text" => "source", autocomplete: "off"}="source"
